.inventory-item {
    color: white;
}

.product-list inventory > img {
    width: auto;
    height: auto;
    max-width: 200px;
}

.product-button {
    background-color: #3ad886;
    max-width: 90px;
    height: 45px;
    border-radius: 4px;
    font-size: 15px;
}