/* .site-header {
    width: 100%;
    height: 40px;
    background-color: #AB2A19;
    display: flex;
    flex-direction: row;
    justify-items: baseline;
} */

/* .logo {
    justify-content: baseline;
} */

.logo-container{
    height: auto;
    width: auto;
    max-height: 50px;
    display: inline;
} 